* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div {
  position: absolute;
  top: 5vh;
  width: 25%;
  border: 1ex solid;
}

div span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.barra {
  height: 1.5em;
}

#life {
  border-color: blue;
  left: 5%;
}

#life .barra {
  background-color: blue;
}

#fuel {
  border-color: red;
  right: 5%;
}

#fuel .barra {
  background-color: red;
}

.frames {
  position: absolute;
  top: 3vh;
  left: 50%;
  width: 25%;
}

distancia {
  display: block;
  text-align: center;
  font-size: 1.3em;
  margin-top: 1%;
}

#world {
  position: absolute;
}

.controlsContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  border: none;
  z-index: 5;
}

.controls {
  display: inline-block;
  text-align: center;
  font-size: 3em;
  border: thin solid;
  padding: 0;
}

#right {
  width: 50%;
}

#right:after {
  content: ">";
}

#left {
  width: 50%;
}

#left:after {
  content: "<";
}

#top {
  display: block;
  text-align: center;
}

#top:after {
  content: "^";
}
