@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

form strong {
  color: red;
}

.home {
  font-size: 2em;
  display: block;
  text-align: right;
  padding-right: 2%;
}

body {
  background-color: #4fbd4f;
  overflow: auto;
}

h1 {
  margin: 2%;
  padding-bottom: 1%;
  border-bottom: thin solid;
}

p {
  margin: 2% 3%;
}

.right::after {
  content: "▶";
  font-size: 2em;
}

.left::after {
  content: "◀";
  font-size: 2em;
}

.up::after {
  content: "▲";
  font-size: 2em;
}

.petrol {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
}

.wall {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: gray;
}
