@import '_reset.scss';
body{
    background-color: rgb(79, 189, 79);
}
h1{
    margin:2%;
    padding-bottom: 1%;
    border-bottom: thin solid;    
}

p{
    margin:2% 3%;
}

.right::after{
    content:"▶";
    font-size: 2em;
}
.left::after{
    content:"◀";
    font-size: 2em;
}
.up::after{
    content: "▲";
    font-size: 2em;
}

.petrol{
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: red;
}
.wall{
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: gray;
}